@charset "utf-8";
@import url("Common.css");

body {
  writing-mode: vertical-rl;
  -epub-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  line-break: normal;
  -epub-line-break: normal;
  -webkit-line-break: normal;
}

