@charset "utf-8";
@import url("Common.css");

/*タイトルページの装飾*/
div.title
{
	border:1px solid #000000;
	text-align: center;
	margin-left:10%;
	margin-right:10%;
	margin-top:10%;
}
/*タイトル文字*/
p#title
{
	font-size:200%
}
